@font-face{
    font-family:'Rubik-Regular';
    src: url(Rubik-Regular.ttf) format('truetype');
}

@font-face{
    font-family:'Rubik-Medium';
    src: url(Rubik-Medium.ttf) format('truetype');
}

@font-face{
    font-family:'Rubik-SemiBold';
    src: url(Rubik-SemiBold.ttf) format('truetype');
}

@font-face{
    font-family:'Inter-SemiBold';
    src: url(Inter-SemiBold.ttf) format('truetype');
}


@font-face{
    font-family:'Manrope-SemiBold.ttf';
    src: url(inter/Manrope-SemiBold.ttf) format('truetype');
}
